body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;
}
p {

}
h1 {
}

.hackstarter {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: grey;
}

.hackstarter span {
  color: #fd8724;
}

.hackstarter a {
  text-decoration: none;
  color: grey;
}

.festivit {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: grey;
}

.festivit a {
  text-decoration: none;
  color: grey;
}

.synthsandbox {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: grey;
}

.synthsandbox a {
  text-decoration: none;
  color: grey;
}
