body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;

}
p {

}
h1 {
}

.hackstarter {
  /*width: 60%;*/
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: grey;
  background-color: whitesmoke;
}

.hackstarter span {
  color: #fd8724;
}

.hackstarter a {
  text-decoration: none;
  color: grey;
}

.hackstarter img {
  width: 100%;
}

.hackstarter .img-wrapper {
  overflow: hidden;
  height: 570px;
}

.festivit {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: grey;
  background-color: whitesmoke;
}

.festivit a {
  text-decoration: none;
  color: grey;
}

.festivit .img-wrapper {
  overflow: hidden;
  margin-bottom: 0.5em;
}

.festivit img {
  width: 100%;
}

.synthsandbox {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: grey;
  background-color: whitesmoke;
}

.synthsandbox a {
  text-decoration: none;
  color: grey;
}

.synthsandbox .img-wrapper {
  overflow: hidden;
  height: 480px;
  margin-bottom: 0.5em;
}
.synthsandbox img {
  width: 100%;
}
