%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        %a{href: "/index.html"} Home
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
  %section.top-bar-section
    %ul.left
      %li
        %a{href: "/about_me.html"} About Me
    %ul.left
      %li
        %a{href:"/the_iron_yard.html" } The Iron Yard
        
%div#projects_page
  %div.container
    %h1
      My Iron Yard Projects

  %div
    %ul
      - data.projects.each do |key, value|
        %li=link_to key, value
